
body { overflow-x: hidden; }

body{
    margin: 0;
    padding: 0;
}
html{
    padding: 0;
    margin: 0;
}

#tudo{
    width: 100%;
    padding: 0;
    height: 600px;
    background: #FBF9FF;
    display: table;
    margin-top: -30px;
    background-size: cover;

}

#segura_como_funciona{
    width: 1200px;
    margin: 0 auto;
}




#segura_como_f_bg{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 500px;
    font-size: 17px;
    display: table;
}






#textos{
    margin-top: -80px;
    padding: 5%;
    display: table;
}
#titulo1{

    margin-top: 150px;
    color: #fff;
    font-weight: bolder;
    text-align: left;
    font-size: 70px;
    margin-bottom: 25px;
    text-transform: uppercase;
}


#titulo2{
    color: #fff;
    font-weight: bolder;
    text-align: left;
    font-size: 70px;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-left: 80px;
    margin-top: -30px;
}

#linha_laranja{
    background: #fdb14e;
    height: 19px;
    width: 350px;
    margin-top: -20px;
    margin-left: 180px;
}
#titulo3{
    color: #fff;
    text-align: left;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 120px;
    margin-top: 20px;
}


/*Parte cinza*/
#titulo_box{
    font-size: 35px;
    background: #fdb14e;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    width: 100%;
}
#box_cinza{
    margin-top: -50px;
    background: #e2e2e2;
    box-shadow: 0 0 30px 1px #0b0b0b;
    height: 600px;
    padding: 0;
}
#dentro_box_cinza{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    color:#000;
    text-align: center;
}
.titulo_cinza{
    width: 100%;
    text-align: center;
}

#segura_botoes{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
#botao_motorista{
    margin: 0 auto;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 0px;
}
#botao_passagero{
    margin-left: 10%;
    background: #fdb14e;
    color: #fff;
    border: none;
    border-radius: 0px;
}
.cadastrar{
    margin-top: 10px;
    width: 100%;
    padding: 5px 5px;
    border-radius: 2px;
}

#botao_cadastrar{
    margin-top: 20px;
    padding: 8px 0;
    background:#232d5a;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: none;
}

























/*  ------------     Parte 1       -----------------      */




#bg_parte_1{
    height: 550px;
}
#bg_parte_1_d{
    color: #f1f1f1;
    height: 550px;
    background: #9196ac;
    padding: 0;
}

#segura_cinza{
    margin: 0 auto;
    width: 400px;
}
@media screen and (max-width: 768px){
    #linha_laranja{
        background: #fdb14e;
        height: 19px;
        width: 200px;
        margin-top: -20px;
        margin-left: 80px;
    }
}
@media screen and (max-width: 991px){
    #titulo1{font-size: 40px;}
    #titulo2{font-size: 40px;}
}
@media screen and (max-width: 1200px){
    #segura_cinza{
        margin: 0 auto;
        width: 100%;
    }
}








/*  ------------     Parte 1.5       -----------------      */


#parte1_5{
    clear: both;

}
@media screen and (min-width: 768px){
    #botao_aple{
        margin-right: 10px;
    }

}





/*  ------------     Parte 2       -----------------      */


#parte2{
    clear: both;
}
#parte2_texto_esquerdo{
    margin-right: 100px;
    width: 500px;
    text-align:center;
    float: right;
    display: table;
    margin-top: 80px;
    color: #000;
}
#parte2_texto_direito{
    margin-left: 100px;
    width: 500px;
    float: left;
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 1200px){

    #parte2_texto_esquerdo{
        width: 100%;
        margin-right: 0;
    }
    #parte2_texto_direito{
        width: 100%;
        margin-left: 0;
    }
}








/*  ------------     Parte 3 -------------     */

#parte3{
    display: table;
    width: 100%;
    height: 500px;
    background: #fdb14e;
}
#segura_parte3{
    width: 100%;
    margin: 0 auto;

}
#bloco_3_tudo{
    width: 400px;
    margin: 0 auto;
}
#meio_3{
    margin:  0 auto;
    margin-top: 100px;
    width: 200px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 2px;
}



#carousel {
    margin: 0 auto;
    text-align: center;
    width:700px;
    height:400px;
    margin-top: 30px;
    position:relative;
    clear:both;
    overflow:hidden;
}
#espaco_next_prev{
    padding: 0 100px;
}

@media screen and (max-width: 731px){
    #carousel {
        width:300px;
    }
}
@media screen and (max-width: 430px){
    #carousel {
        width:300px;
    }

    #espaco_next_prev{
        padding: 0 90px;
    }

}

#carousel img {
    visibility:hidden; /* hide images until carousel can handle them */
    cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

#prev{
    position: relative;
    z-index: 9999;
    background: #fdb14e;
    padding: 5px 10px 5px 18px;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: -2px 2px 4px #ccc;
    font-weight: bolder;
}
#next{
    position: relative;
    z-index: 9999;
    background: #fdb14e;
    padding: 5px 18px 5px 20px;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 2px 2px 4px #ccc;
    font-weight: bolder;
}
#prev:hover{
    opacity: .60;
    cursor: pointer;
}
#next:hover{
    opacity: .60;
    cursor: pointer;
}
#saiba{
    position: relative;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    background: #000;
    color: #fff;
    font-weight: bolder;
    padding: 5px 5px;width: 150px;
    text-decoration: none;
}
#saiba:hover{
    opacity: .60;
    cursor: pointer;
}










/*  ------------     Parte 4 -------------     */

#parte4{
    clear: both;
    width: 100%;
    height: 300px;
    background:  #3f61ad;
    display: table;
}
.texto_parte4{
    width: 70%;
    margin: 0 auto;
    text-align: justify;
    color: #fdb14e;
    font-size: 14px;
    margin-top: 10px;
}
.titulos_4{
    font-weight: bolder;
    color: #fdb14e;
    margin-top: 10px;
}
/*  ------------     Parte 5.5 -------------     */

#parte5_5{
    clear: both;
    display: table;
    width: 100%;
    height: 400px;
}
#parceiros{
    margin: 0 auto;
    width: 1200px;
}

@media screen and (max-width: 1400px){
    #parceiros{
        width: 100%;
    }
}



/*  ------------     Parte 5 -------------     */

#parte5{
    clear: both;
    width: 100%;
    height: 400px;
    background: #fdb14e;
}
#segura_parte5{
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 0 auto;

}
#titulo_parte5{
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
}
#texto_parte5{
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    width: 350px;
}
