#rodape{
    display: table;
    background: #232d5a;
    width: 100%;
    padding: 100px 0 100px 0 ;
}
#segura_rodape{
    color: #fff;
    margin: 0 auto;
    width: 100%;
}
@media screen and (min-width: 768px){
    #logo_rodape{
        width: 300px;
        margin-top: -50px;
    }
}
@media screen and (max-width: 768px){
    #rodape{
        padding: 10px 0;
    }
    #logo_rodape{
        width: 200px;
    }
}