#sobre{
    width: 100%;
}

#segura_sobre_p2{
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
    display: table;
}
#parte2_texto_esquerdo{
    margin-right: 100px;

    letter-spacing: 1px;
    width: 300px;text-align:center;float: right;display: table;margin-top: 10px;color: #fff;font-weight: bolder;
}
#parte2_texto_direito{
    margin-left: 100px;
    letter-spacing: 1px;
    width: 300px;float: left;margin-top: 10px;color: #fff;text-align: center;font-weight: bolder;
}

#titulo_esquerdo{
    font-weight: bolder;
    margin-right: 170px;
    width: 100%;text-align:right;float: right;display: table;margin-top: 80px;color: #fff;
}

#titulo_direito{

    font-weight: bolder;
    margin-left: 90px;
    width: 500px;text-align:left;float: left;display: table;margin-top: 80px;color: #fff;
}

#segura3{
    width: 1200px;
    margin: 0 auto;
    text-align: justify;
}

#linha_laranja{
    background: #fdb14e;
    height: 5px;
    width: 200px;
    margin-top: -20px;
    margin-left: 50px;
    margin-bottom: 50px;
}