#style-switcher {
	right: 0;
	position: fixed;
	top: 150px;
	z-index: 9999;
	opacity: 0;
}

#style-switcher ul,
#style-switcher ol {
	padding: 0;
}

#style-switcher h4 {
	color: #e8e8e8;
	margin-bottom: 5px;
	letter-spacing: -1px;
	padding: 11px 0;
	background: #333;
	line-height: 1;
}

#style-switcher-menu {
	float: left;
	width: 160px;
	color: #444;
	background: #181818;
	box-shadow: 0 5px 30px -6px rgba(0, 0, 0, .3);
}

#style-switcher-menu .segment {
	padding: 15px;
	overflow: hidden;
	border-top: 1px solid #222;
	text-align: right;
}

#style-switcher-menu .segment h5 {
	margin-top: 0;	
}

#style-switcher-menu .segment .btn {
	display: block;	
}

#style-switcher-menu ul.theme {
	margin: 4px 0 0;
}

#style-switcher-menu ul.theme li {
	display: inline-block;
	list-style: none;
}

#style-switcher-menu ul.theme li a {
	display: block;
	margin: 0;
	line-height: 0;
	border: 1px solid #222;
	box-shadow: 0 1px 2px #111;
}

#style-switcher-menu .cookie_layout_style li a {
	width: 21px;
    height: 21px;
}

#style-switcher-menu ul.theme li a:hover {
	border: 1px solid #272727;
}

#style-switcher-menu ul.layouts li + li {
	margin-top: 15px;
}

#style-switcher-menu ul.theme .btn {
	
}
#style-switcher-menu ul.theme .reset {
	border-color: #666;
}

#toggle_button {
	margin: 5px 0 0 0;
	float: left;
	width: 40px;
	background: #252525;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

#toggle_button a {
	color: #fff;
	display: block;
	padding: 9px 0px;
	text-align: center;
}

@media (max-width: 992px) {
	#style-switcher {
		display: none;	
	}
}