#topo{
}
#topo_tamanho{
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
#topo_cor{
    background: #3c3c3c;
    width: 100%;
    padding: 1% 0 0.2% 0;
}



#aumentar_topo{
    width: 90%;
    margin: 0 auto;

}
@media screen and (max-width: 1347px) (min-width:)



    #topo_cima_tudo{
        display: table;
    }
    #topo_cima_col{
        width: 100%;
    }

    #topo_bk_none{
        width: 100%;
        border-radius: 0;
        border: none;
        background: none;

    }
    #topo_cima{
        text-align: right;
        float: right;
        z-index: 100; border: 1px solid #000;
    }
    #esse{
        display: inline;
        width: 15.5%;
        float:left;
        margin-top: 3%;
    }
    #icone_rede_menu{
        padding: 0;
        margin-left: 2%;
    }
    #icone_rede_menu:hover{
        cursor: pointer;
        opacity: .60;
    }

    /*cor do dropdown*/
    #dp{
        background: none;
        border:none;
    }
    #dp:hover{
        opacity: .60;
        cursor: pointer;
    }
    #navbar{
        background: #3c3c3c;
        margin-top: 0.5%;
    }
    /*topo menu*/

    @media screen and (max-width: 767px) {
        #topo_cima_tudo{
            width: 100%;
        }
        #icone_rede_menu_sair:hover{
            opacity:.60;
            cursor: pointer;
        }
        #icone_rede_menu{text-align: right;margin-right: 5%; }
        #icone_rede_menu_sair{
            display: block;
            float: right;
            padding: 0;
            margin-right: 5%;
            margin-top: 1%;
        }
        #sair_grande{display: none;}
        #logotipo{
        }
    }
    @media screen and (max-width:993px) and (min-width: 768px) {
        #topo_cima_tudo{
            width: 100%;
        }
        #icone_rede_menu_sair:hover{
            opacity:.60;
            cursor: pointer;
        }
        #icone_rede_menu_sair{
            display: block;
            float: left;
            padding: 0;
            margin-left: 2%;
            margin-top: 1%;
        }
        #sair_grande{display: none;}
        #logotipo{float: left;margin: 0 auto;width: 100%;}
        #esp_logo{float: left;width: 300px;height: 1px;}
    }


    /* fecha topo menu*/
    /*Sair*/

    #icone_rede_menu_sair:hover{opacity: .60; cursor: pointer;}
    #icone_rede_menu:hover{opacity: .60; cursor: pointer;}
    #sair_grande:hover{opacity: .60; cursor: pointer;}

    @media screen and (min-width:1205px) {
        #icone_rede_menu_sair{display: none;}
    }
    @media screen and (max-width:1205px) and (min-width: 993px) {
        #sair_grande{display: none;}
        #icone_rede_menu_sair{display: block;}
        #navbar{width: 100%;}
        #icone_rede_menu{}
    }

/*Fechar Sair*/